{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

 {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
<section class="section-2">
       <h3>Sticky Navigation Bar</h3>
       <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
       </p>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum quasi blanditiis tempore debitis nobis voluptas impedit cum ab. Temporibus dignissimos reiciendis, incidunt fugiat reprehenderit neque. Eum dolorem in est!
    </p>

   </section>
{% endblock %}
