body{
    background:#ccc;
}
*{
    padding: 0px;
    margin: 0px;

}
.img-logo {
    width: 68px;
    height: 68px;
    border-radius: 34px;
    display: block;
    margin-left: 45%;
}
h1 {
    font-family: roboto,cursive;
    font-size: 22px;
}
.head{
    background: red;
    color: #fff;
    padding: 25px 70px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    border-top:50px solid #37f;	
}
.nav{
    transition: 500ms;
    padding: 20px 0px;
    background: yellow;
    text-align: center;
   }

.main-menu>li{
    display: inline-block;
    width: 250px;
    padding: 10px 10px;
    margin-left: 10px;
    margin: 2px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-left: 1px solid white;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
    background: turquoise;
}
.main-menu li:hover .sub-menu{
    display: block;
    width: 18.3%;
}
.sub-menu{
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 15px;
    margin-left: -11px;
    float: right;
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid white;
    box-shadow: 1px 1px 1px grey;        
}
.sub-menu li{
    list-style-type: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    background: #37f;
}
.main-menu>li:hover, .sub-menu>li:hover{
    background: #35c;
}
#navbar a:hover {
    background-color: #fff;
    color: #1b1b1b;
}
.section-1 {
	background: url('../images/route_4.jpg');;
	width: 100%;
	background-size: cover;
	height: 72.5vh;
	background-position: center;
}
.section-2 {
	padding: 20px;
	padding-left: 60px;
}
.section-2 h1 {
	padding: 20px;
	font-size: 40px;
}
.section-2 p {
	padding: 20px;
	line-height: 1.8em;
	font-size: 18px;
}
.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    background: chartreuse !important;
}
    
.sticky + .section-2 {
    padding-right: 90px;
}
li,a {
    list-style: none;
}