<style>

.diff_services{
	display: flex;
	margin-top: 100px;
	justify-content: space-around;
    
}

.diff_service_item{
	width: 25%;
    background: red;
    border: 2px solid #fff;
}

.diff_service_item .img-menu{
	width: 100%;
    height: 100%;
	margin-bottom: 70px;
}


</style>

    <div class="diff_services">
      <div class="diff_service_item">
        <img class="img-menu" src="{{ asset('images/route-6.jpg') }}" alt="Service_image">
      </div>
      <div class="diff_service_item">
        <img class="img-menu" src="{{ asset('images/route_7.jpg') }}" alt="Service_image">
      </div>
    </div>
  