<div class="wrapper">
 <header>
        <nav>
            <ul>
                <li>
                   Inscription
                    <ul>
                    </ul>
              
                </li>
          </ul>     
        </nav>
    </header>

<div class="util">
  
  <div id="navbar">
<nav> 
     <ul>
        <li><a href="{{ path('app_login') }}">Connexion / Inscription</a></li>
     </ul>
</nav>
  </div>

</div>
</div>

 

